p{
    font: 12pt 'Verdana', sans-serif;
    text-align: justify;
    text-indent: 20pt;
}

h1{
    font: bold 2em 'Verdana', sans-serif;
}

h2{
    font: bold 1.4em 'Verdana', sans-serif;
}

h3{
    font: 600 1.1em 'Verdana', sans-serif;
}

.sub{
    background-color: rgb(255, 255, 153);
    text-align: center;
    text-indent: 0pt;
}

#dir{
    text-align: left;
}