*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pearl';
    src: url(../fonts/pearl.ttf) format(truetype);
}

:root{
    --font01: Pearl;
}

body{
    background-color: bisque;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: Pearl;
    font-size: 7vw;
    padding-top: 50px;
}

header > p{
    font-size: 1.1em;
    padding-bottom: 50px;
}

section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 40px;
    line-height: 1.5em;
    font-size: 2.5vw;
    color: black;
}

section.normal{
    background-color: white;
}

